<div class="navbar bg-primary">
  <div class="container-fluid align-center">
    <div class="d-flex align-center">
      <button class="btn btn-sm btn-primary me-2" routerLink="/home">
        <i class="fa fa-home"></i>
        <span> Home</span>
      </button>
      <button class="btn btn-sm btn-primary me-2" routerLink="/cdt">
        <i class="fa fa-circle"></i>
        <span> CDT</span>
      </button>
      <button class="btn btn-sm btn-primary me-2" routerLink="/race">
        <i class="fa fa-flag"></i>
        <span> Race</span>
      </button>
    </div>
    <app-comp-theme-switcher></app-comp-theme-switcher>
  </div>
</div>
