<div class="navbar bg-primary">
  <div class="container-fluid align-center">
    <div class="d-flex align-center">
      <button class="btn btn-sm btn-primary me-2" routerLink="/home">
        <i class="fa fa-home"></i>
        <span> Home</span>
      </button>
      <button class="btn btn-sm btn-primary me-2" routerLink="/cars">
        <i class="fa fa-car"></i>
        <span> Cars</span>
      </button>
      <button class="btn btn-sm btn-primary me-2" routerLink="/drivers">
        <i class="fa fa-user"></i>
        <span> Drivers</span>
      </button>
    </div>
    <app-comp-theme-switcher></app-comp-theme-switcher>
  </div>
</div>
