<div class="d-grid">
  <div
    class="card d-flex flex-row justify-content-between align-items-center flex-wrap pb-2 pe-2"
  >
    <!-- <div>
        <button class="btn btn-primary">
          <i class="fa fa-map-o"></i>
          <span> SELECT TRACK</span>
        </button>
      </div> -->

    <span *ngIf="race.status == 'releasing'" class="ms-2 mt-2">Lights ON!</span>

    <div>
      <button
        *ngIf="race.status == 'stopped'"
        class="btn btn-sm btn-success ms-2 mt-2"
        (click)="action('start')"
      >
        <i class="fa fa-play"></i>
        <span> Start Race</span>
      </button>

      <button
        *ngIf="
          race.status == 'started' ||
          race.status == 'free' ||
          race.status == 'finished'
        "
        class="btn btn-sm btn-danger ms-2 mt-2"
        (click)="action('stop')"
      >
        <i class="fa fa-square"></i>
        <span> Stop/Reset</span>
      </button>

      <button
        *ngIf="race.status == 'stopped'"
        class="btn btn-sm btn-info ms-2 mt-2"
        (click)="action('free')"
      >
        <i class="fa fa-play"></i>
        <span> Free Play</span>
      </button>
    </div>

    <div class="d-flex">
      <div class="btn-group ms-2 mt-2">
        <button class="btn btn-sm btn-secondary" (click)="config('laps', -1)">
          <i class="fa fa-minus"></i>
        </button>
        <button class="btn btn-sm btn-secondary" style="pointer-events: none">
          <span>{{ race.laps }} </span>
          <i class="fa fa-road"></i>
        </button>
        <button class="btn btn-sm btn-secondary" (click)="config('laps', 1)">
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <div class="btn-group ms-2 mt-2">
        <button class="btn btn-sm btn-secondary" (click)="config('players', -1)">
          <i class="fa fa-minus"></i>
        </button>
        <button class="btn btn-sm btn-secondary" style="pointer-events: none">
          <span>{{ race.players.length }} </span>
          <i class="fa fa-male"></i>
        </button>
        <button class="btn btn-sm btn-secondary" (click)="config('players', 1)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
