<div class="card" data-bs-toggle="modal" data-bs-target="#selectPlayerModal">
  <div
    *ngIf="!player.driver.name"
    class="d-flex justify-content-center align-items-center"
    style="width: 100%"
  >
    <span>SELECT PLAYER</span>
  </div>

  <div
    *ngIf="player.driver.name"
    class="card-image-driver"
    style="background-image:url('{{ player.driver.image }}') ;"
  ></div>

  <div
    *ngIf="player.driver.name"
    class="card-image-car"
    style="background-image:url('{{ player.car.image }}') ;"
  ></div>

  <div *ngIf="player.driver.name" class="card-text">
    <span class="card-text-name">{{ player.driver.name }}</span>
    <span class="card-text-car">{{ player.car.name }}</span>
  </div>
</div>
