<div class="d-flex justify-content-between align-items-center mb-4">
  <app-comp-race-lights
    [lights]="lights"
    (changeStatus)="raceStatus($event)"
  ></app-comp-race-lights>

  <app-comp-race-fastest-lap [fast]="fast"></app-comp-race-fastest-lap>
</div>

<div class="mb-4">
  <app-comp-race-navbar
    [race]="race"
    (raceAction)="raceAction($event)"
    (raceConfig)="raceConfig($event)"
  ></app-comp-race-navbar>
</div>

<div class="row mb-4">
  <div *ngFor="let player of race.players; let i = index" class="col">
    <app-comp-race-player
      [player]="player"
      (click)="playerSelected = i"
    ></app-comp-race-player>
    <app-comp-race-list-lap
      *ngIf="player.laps.length != 0"
      [player]="player"
      (deleteLap)="deleteLap(player)"
    ></app-comp-race-list-lap>
  </div>
</div>

<app-comp-race-select-player-modal
  [playerSelected]="playerSelected"
  (setPlayer)="setPlayer($event)"
></app-comp-race-select-player-modal>
